@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  --color-primary: #e3e6f3;
  --box-shadow-primary: 0 5px 15px rgba(0, 0, 0, 0.06);
  --color-secondary: #088178;
  --color-secondary-hover: #02b8ab;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-size: 12px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  padding: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

#siteContainer {
  display: grid;
  grid-template-columns: 100%;
}

/*Header Start*/
#header {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-primary);

  z-index: 999;
}

#header a {
  font-weight: bold;
  text-decoration: none;
  color: #222;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar li {
  position: relative;
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover {
  color: var(--color-secondary);
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--color-secondary);
}

/* #navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: -4px;
  left: 20px;
} */

#navbar .user-profile a {
  text-decoration: none !important; /* Remove underline */
  color: #1a1a1a; /* Set default color */
}

#navbar .user-profile a:hover {
  color: var(--color-secondary); /* Change color on hover */
}

#navbar .user-profile a.active {
  text-decoration: none !important; /* Remove underline for active links */
}

#navbar .user-profile a.active::after {
  display: none; /* Hide the underline for active links */
}

.logo {
  font-size: 1.5rem;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* .alert-box {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  z-index: 9999;
}

.error-message {
  margin: 0;
} */

.cart-count {
  border-radius: 100%;
  background-color: #ec1a2e;
  color: #fff;
  padding: 2.5px 5px;
  margin: -5px;
  font-size: 12px;
  font-weight: 500;
}

.error-message {
  margin: 0;
}

.cart-contronl-btn {
  padding: 7px;
  outline: none;
  border: none !important;
}

.cart-contronl-btn:hover {
  --color-primary: #e3e6f3;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 7rem auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formTitle {
  font-size: 35px;
  padding: 15px 0 30px;
  font-weight: 500;
}

form button.normal {
  cursor: pointer;
  background: var(--color-secondary);
  color: #fff;
  padding: 12px 24px;
  margin-bottom: 15px;
}

form button.normal:hover {
  background: var(--color-secondary-hover);
}

form.login label,
form.signup label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

form.login input,
form.signup input {
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

form.login input[type="email"],
form.login input[type="password"],
form.signup input[type="email"],
form.signup input[type="password"] {
  font-family: "Poppins", sans-serif;
}

form.login button,
form.signup button {
  font-size: 16px;
}

#navbar,
#bar {
  font-size: 20px;
  margin-left: -4px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/*Home Page*/
#hero {
  background-image: url(../public/images/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: var(--color-secondary);
}

#hero button {
  background-image: url(../public/images/button.png);
  background-repeat: no-repeat;
  background-color: transparent;
  color: var(--color-secondary);
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#hero button a {
  text-decoration: none;
  color: inherit;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .feature__box {
  width: 170px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .feature__box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feature__box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .feature__box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: var(--color-secondary);
  background-color: #fddde4;
}

#feature .feature__box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .feature__box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .feature__box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .feature__box:nth-child(5) h6 {
  background-color: #fcdbf6;
}

#feature .feature__box:nth-child(6) h6 {
  background-color: #fff2c5;
}

#product1 {
  text-align: center;
}

#product1 .product__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: space-between;
}

#product1 .product {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);

  margin: 15px 0;
  transition: 0.2s ease;

  position: relative;
}

#product1 .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .product img {
  width: 100%;
  border-radius: 20px;
}

#product1 .product .description {
  text-align: start;
  padding: 10px 0;
}

.productBadge {
  font-size: 12px;
  font-weight: 600;
  color: #ffff;
  background-color: #0a6943;
  padding: 5px;
  border-radius: 4px;
  width: 20%;
  text-align: center;
  margin: 15px 0;
}

.failure {
  color: #ffff;
  background-color: #ff5353;
}

#product1 .product .description span {
  color: #606063;
  font-size: 12px;
}

#product1 .product .description h5 {
  padding: 7px 0 4px 0;
  color: #1a1a1a;
  font-size: 14px;
  text-decoration: none;
}

#product1 .product .description .ratingIcon {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .product .description h4 {
  padding-top: 7px;
  color: var(--color-secondary);
  font-size: 15px;
  font-weight: 700;
}

#product1 .product .cartIcon {
  width: 30px;
  height: 30px;
  line-height: 40px;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
  background-color: #e8f6ea;
  color: var(--color-secondary);
  border: 1px solid #cce7d0;

  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../public/images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 15px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background-color: var(--color-secondary);
  color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../public/images/banner/b17.jpg);
  min-width: 540px;
  height: 50vh;
  background-size: cover;
  background-position: center;

  padding: 30px;
}

#sm-banner .banner__box2 {
  background-image: url(../public/images/banner/b10.jpg);
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .white {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner__box:hover button {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../public/images/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner__box2 {
  background-image: url(../public/images/banner/b4.jpg);
}

#banner3 .banner__box3 {
  background-image: url(../public/images/banner/b18.jpg);
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../public/images/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;

  margin: 40px 0;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;

  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

#newsletter button {
  background-color: var(--color-secondary);
  color: #fff;
  white-space: nowrap;

  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

footer {
  /* background-color: #cdebbc; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 15px;
  padding-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow .sm-icons {
  font-size: 16px !important;
  color: #465b52;
  margin-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid var(--color-secondary);
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow .sm-icons:hover,
footer a:hover {
  color: var(--color-secondary);
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/*Shop Page*/
#page__header {
  background-image: url(../public/images/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page__header h2,
#page__header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: var(--color-secondary);
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination .hydrated {
  font-weight: 600;
  font-size: 16px;
}

/*Single Product*/
#productDetails {
  display: flex;
  margin-top: 20px;
}

#productDetails .single-pro-img {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 32.8%;
  cursor: pointer;
}

#productDetails .single__Product-details {
  width: 50%;
  /* padding-top: 30px; */
}

#productDetails .single__Product-details h4 {
  padding: 40px 0 20px 0;
}

#productDetails .single__Product-details h2 {
  font-size: 26px;
}

#productDetails .single__Product-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#productDetails .single__Product-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#productDetails .single__Product-details input:focus {
  outline: none;
}

#productDetails .single__Product-details button {
  background-color: var(--color-secondary);
  color: #fff;
}

#productDetails .single__Product-details span {
  line-height: 25px;
}

/*Blog Page*/
#page__header.blog__header {
  background-image: url(../public/images/banner/b19.jpg);
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 90px;

  position: relative;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

/* #blog .blog-details p {
    line-height: 25px;
} */

#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  transition: 0.3s;

  position: relative;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: var(--color-secondary);
}

#blog .blog-details a:hover::after {
  background-color: var(--color-secondary);
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;

  z-index: -90;
}

/*About Page*/
#page__header.about__header {
  background-image: url(../public/images/about/banner.png);
}

#about__head {
  display: flex;
  align-items: center;
}

#about__head img {
  width: 50%;
  height: auto;
}

#about__head div {
  padding-left: 40px;
}

#about__head div p {
  line-height: 25px;
}

#about__app {
  text-align: center;
}

#about__app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}

#about__app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#about__app h2 {
  padding-top: 20px;
  color: var(--color-secondary);
}

.download-app {
  font-size: 50px;
  line-height: 64px;
  color: #3165f5;
}

/*Contact Page*/

#contact__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact__details .details {
  width: 40%;
}

#contact__details .details span,
#form__details form span {
  font-size: 12px;
}

#contact__details .details h2,
#form__details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact__details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact__details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact__details .details li .hydrated {
  font-size: 14px;
  padding-right: 22px;
}

#contact__details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact__details .map {
  width: 55%;
  height: 400px;
}

#contact__details .map iframe {
  width: 100%;
  height: 100%;
}

#form__details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form__details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form__details form input,
#form__details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form__details form button {
  background-color: var(--color-secondary);
  color: #fff;
}

#form__details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form__details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form__details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form__details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/*Cart Page*/

#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}

#coupon h3,
#subTotal h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}

#coupon button,
#subTotal button {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 12px 20px;
}

#subTotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}

#subTotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subTotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/*Start Media Query*/
@media (max-width: 799px) {
  section-p1 {
    padding: 40px 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px 0;
    padding: 80px 0 0 10px;

    transition: 0.3s;
    z-index: 1;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile .mobile-cart {
    color: #1a1a1a;
    font-size: 20px;
    padding-right: 30px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .feature__box {
    margin: 15px 15px;
  }

  #product1 .product__container {
    justify-content: center;
  }

  #product1 .product {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner__box {
    min-width: 100%;
    height: 30vh;
  }

  #banner3 {
    padding: 0 40px;
  }

  #banner3 .banner__box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }

  /*Contact Page*/

  #form__details {
    padding: 40px;
  }

  #form__details form {
    width: 50%;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }

  #header {
    padding: 10px 30px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .feature__box {
    width: 180px;
    margin: 0 0 15px 0;
  }

  #product1 .product {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner__box {
    height: 40vh;
  }

  #sm-banner .banner__box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner__box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }

  /*Single Product*/

  #productDetails {
    display: flex;
    flex-direction: column;
  }

  #productDetails .single-pro-img {
    width: 100%;
  }

  #productDetails .single__Product-details {
    width: 100%;
  }

  /*Blog Page*/
  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /*About Page*/

  #about__head {
    display: flex;
    flex-direction: column;
  }

  #about__head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about__head div {
    padding-left: 0px;
  }

  #about__app .video {
    width: 100%;
  }

  #about__app h2 {
    padding-top: 10px;
  }

  /*Contact Page*/

  #contact__details {
    flex-direction: column;
  }

  #contact__details .details {
    width: 100%;
    margin-bottom: 30px;
  }

  #contact__details .map {
    width: 100%;
  }

  #form__details {
    margin: 10px;
    padding: 30px 20px;
    flex-wrap: wrap;
  }

  #form__details form {
    width: 100%;
    margin-bottom: 30px;
  }

  /*Cart Page*/

  #cart-add {
    flex-direction: column;
  }

  #coupon {
    width: 100%;
  }

  #subTotal {
    width: 100%;
    padding: 20px;
  }
}

.checkout-steps {
  border-bottom: 0.17rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08800;
}

.small-container {
  margin: 4rem 0;
}

.full-height-container {
  height: 100vh;
  width: 75%; /* Set height to 100vh for full viewport height */
}

.square-card {
  width: 400px; /* Adjust width as needed */
  height: 400px;
  outline: none;
  border: none;
}

.payment-icon {
  font-size: 5rem;
  margin: 2rem 0;
  color: #079905;
}

.square-card .cancel {
  color: #ff0c0c;
}

.custom-centered-col {
  margin: 0 auto; /* Center horizontally */
  transform: translateY(-20%);
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}
